<!DOCTYPE html>
<html class="no-js">

<head>
   <meta charset="utf-8">
   <title></title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="margin: auto;align-content: center;font-family: Arial, Helvetica, sans-serif;color: #4f5a68;">
   <div class="main" style="margin: 59px;">
      <div class="container" style="display: flex;">
         <div class="left" style="width: 60%;">
            <img src="cid:Restaurant" class="Restaurant-MealKitscom3x" alt="Restaurant-MealKits.com">
         </div>
      </div>
      <div>
         <h2>Hi {{name}},</h2>
         <p class="main-para"
            style="font-family: Arial;font-size: 20px;font-weight: bold;line-height: 1.4;color: #4f5a68;text-align: justify;">
            We are super excited to
            welcome (restaurant_name)
            to RestaurantMealKits.com </p>
      </div>
   </div>
   <div class="block" style="display: flex;padding: 12px;border-top: 1px solid #c0b9b8;padding-left: 60px;">
      <div style="display:flex;">
         <img src="" alt="logo" class="logo" style="padding: 10px;">
         <h2>restaurant_name</h2>
      </div>
      <a class="btn1" href="#"
         style="padding: 14px 25px;background-color: #f44336;color: white;margin-top: auto;margin-bottom: auto;margin-left: auto;text-align: center;display: inline-block;text-decoration: none;font-size: 16px;">VIEW
         MENU</a>
   </div>
   <footer class="footer" style="width: auto;padding: 60px;color: #ececec;background-color: #10192f;">
      <p class="footer-para"
         style="font-family: Arial;font-size: 16px;text-align: justify;line-height: 1.5;color: #ffffff;">We know that a
         lot of you have been aching to try Meal Kits from (restaurant_name)
         So all you have to do is, simply go here [order now page] and Get Started. </p>
      <br>
      <a href="#" class="btn"
         style="margin-left: auto;background-color: #f44336;color: white;padding: 14px 25px;text-align: center;text-decoration: none;display: inline-block;">
         VISIT WEBSITE
      </a>
      <br>
      <br><br>
      <hr style="height: 1px;opacity: 0.1;background-color: #ffffff;">
      <p class="footer-para"
         style="font-family: Arial;font-size: 16px;text-align: justify;line-height: 1.5;color: #ffffff;">As always, our
         support team can be reached at <a href="contact@restaurantmealkits.com" class="contact"
            style="color: #ffff;">contact@restaurantmealkits.com</a> if you ever
         get
         stuck. </p>
      <div class="container" style="display: flex;">
         <div>
            <h3>Have a great day!</h3>
            <p class="footer-para"
               style="font-family: Arial;font-size: 16px;text-align: justify;line-height: 1.5;color: #ffffff;">
               John Luke<br>
               Operations<br>
               <a href="www.restaurantmealkits.com" style="color:#ffffff;">Restaurantmealkits.com</a>
            </p>
         </div>
      </div>
   </footer>
</body>

</html>