<!DOCTYPE html>
<html class="no-js">

<head>
   <meta charset="utf-8">
   <title></title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="margin: auto;align-content: center;font-family: Arial, Helvetica, sans-serif;color: #4f5a68;">
   <div class="main" style="margin: 59px;">
      <div class="container" style="display: flex;">
         <div class="left" style="width: 60%;">
            <img src="cid:Restaurant" class="Restaurant-MealKitscom3x" alt="Restaurant-MealKits.com">
         </div>
      </div>
      <div>
         <h2>Hi {{name}},</h2>
         <h3>ORDER CONFIRMATION</h3>
         <p class="main-para"
            style="font-family: Arial;font-size: 20px;font-weight: bold;line-height: 1.4;color: #4f5a68;text-align: justify;">
            We’ve received your order. Your Cooking Experience will never be the same again. We will
            drop you
            another mail when we ship this delicious Meal Kit to you. </p>
      </div>
      <div class="card" style="width: 50%;padding: 20px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);">
         <h3>ORDER NUMBER: 38722</h3>
         <h4>ORDER DATE: March 13,2020</h4>
         <h4>ITEMS ORDERED:</h4>
         <div class="container" style="display: flex;">
            <div class="small-card" style="padding: 0px;width: 40%;margin-right: auto;border: solid 1px #ececec;">
               <div class="title1" style="padding: 10px;color: #ffffff;width: fit-content;background-color: #ff7a4d;">
                  Lunch: serving 4
               </div>
               <div class="image-title" style="display: flex;padding: 20px;">
                  <span style="width: 40%;"><img src="" alt="recipe name"></span>
                  <h4 style="margin-top: auto;">Recipe name</h4>
               </div>
            </div>
            <div class="small-card" style="padding: 0px;width: 40%;margin-right: auto;border: solid 1px #ececec;">
               <div class="title2" style="padding: 10px;color: #ffffff;width: fit-content;background-color: #44496b;">
                  Dinner: serving 4
               </div>
               <div class="image-title" style="display: flex;padding: 20px;">
                  <span style="width: 40%;"><img src="" alt="recipe name"></span>
                  <h4 style="margin-top: auto;">Recipe name</h4>
               </div>
            </div>
         </div>
         <h3>Total: $70</h3>
      </div>
      <div class="payment-card" style="padding: 30px 0px 0px 0px;">
         Payment Info: Mastercard - xxxx - xxxx - xxxx - xxxx<br>
         Billing Info<br>
         John Doe<br>
         Sin City<br>
         CA - 71717<br>
         <br>
         Shipping Info<br>
         <br>
         John Doe<br>
         Sin City<br>
         CA - 71717<br>
         <br>
         Email: (Customer_Email)<br>
         Phone: (Customer_Phone
      </div>
   </div>
   <footer class="footer" style="width: auto;padding: 60px;color: #ececec;background-color: #10192f;">
      <p class="footer-para"
         style="font-family: Arial;font-size: 16px;text-align: justify;line-height: 1.5;color: #ffffff;">As always, our
         support team can be reached at <a href="contact@restaurantmealkits.com"
            style="color: #ffffff;">contact@restaurantmealkits.com</a> if
         you ever
         get
         stuck. </p>
      <div class="container" style="display: flex;">
         <div>
            <h3>Have a great day!</h3>
            <p class="footer-para"
               style="font-family: Arial;font-size: 16px;text-align: justify;line-height: 1.5;color: #ffffff;">
               John Luke<br>
               Operations<br>
               <a href="www.restaurantmealkits.com" style="color:#ffffff;">Restaurantmealkits.com</a>
            </p>
         </div>
      </div>
   </footer>
</body>

</html>