<!DOCTYPE html>
<html class="no-js">

<head>
   <meta charset="utf-8">
   <title></title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="margin: auto;align-content: center;font-family: Arial, Helvetica, sans-serif;color: #4f5a68;">
   <div class="main" style="margin: 59px;">
      <div class="container" style="display: flex;">
         <div class="left" style="width: 60%;">
            <img src="cid:Restaurant" class="Restaurant-MealKitscom3x" alt="Restaurant-MealKits.com">
         </div>
      </div>
      <div>
         <h2>Hi {{name}},</h2>
         <p class="main-para"
            style="font-family: Arial;font-size: 20px;font-weight: bold;line-height: 1.4;color: #4f5a68;text-align: justify;">
            We really hope you love every bit of your experience cooking
            your Meal Kit of (Product_name)</p>
         <p>
            If you feel the same as we do about this experience, how about a shout out for your
            favorite restaurant?
         </p>
         <h3>Use the hashtag</h3>
         <div class="hash-tag" style="color: #d8355c;">
            <h3>#restaurantmealkits</h3>
            <h3>#stayhomestaysafestayfull</h3>
            <h3>#(restaurant_name)</h3>
         </div>
      </div>

   </div>
   <footer class="footer" style="width: auto;padding: 60px;color: #ececec;background-color: #10192f;">
      <p class="footer-para"
         style="font-family: Arial;font-size: 16px;text-align: justify;line-height: 1.5;color: #ffffff;">As always, our
         support team can be reached at <a href="contact@restaurantmealkits.com" class="contact"
            style="color: #ffff;">contact@restaurantmealkits.com</a> if you ever
         get
         stuck. </p>
      <div class="container" style="display: flex;">
         <div>
            <h3>Have a great day!</h3>
            <p class="footer-para"
               style="font-family: Arial;font-size: 16px;text-align: justify;line-height: 1.5;color: #ffffff;">
               John Luke<br>
               Operations<br>
               <a href="www.restaurantmealkits.com" style="color:#ffffff;">Restaurantmealkits.com</a>
            </p>
         </div>
      </div>
   </footer>
</body>

</html>