<!DOCTYPE html>
<html class="no-js">

<head>
   <meta charset="utf-8">
   <title></title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="margin: auto;align-content: center;font-family: Arial, Helvetica, sans-serif;color: #4f5a68;">
   <div style="background-color: #ffffff;">
      <div class="main" style="margin: 59px;">
         <div class="container" style="display: flex;">
            <div class="left" style="width: 60%;">
               <img src="cid:Restaurant" class="Restaurant-MealKitscom3x" alt="Restaurant-MealKits.com">
            </div>
         </div>
         <a href="#" style="text-decoration: none;cursor: pointer;">
            <img src="cid:intersection" class="Intersection-11"
               style="display: block;margin-left: auto;margin-right: auto;width: 90%;">
         </a>
         <div>
            <h2 style="font-family: Arial, sans-serif, 'Open Sans';color: #4f5a68;">Hi {{name}},</h2>
            <h2 style="font-family: Arial, sans-serif, 'Open Sans'; color: #4f5a68;">Welcome to RestaurantMealKits.com
            </h2>
            <p style="font-family: Arial, sans-serif, 'Open Sans'; color: #4f5a68;">
               We would like to thank you for signing up to our service.
            </p>
            <p style="font-family: Arial, sans-serif, 'Open Sans'; color: #4f5a68;">
               We established this platform in order to help Customers like you connect with
               Restaurants who serve Meal Kits of essential daily food requirements like Lunch &
               Dinner
            </p>
            <p style="font-family: Arial, sans-serif, 'Open Sans'; color: #4f5a68;">
               I’d love to hear what you think of the service and if there is anything we can
               improve. If you have any questions, please reply to this email. I’m always happy to
               help!
            </p>
            <br>
            <h2 style="font-family: Arial, sans-serif, 'Open Sans';color: #4f5a68;">What to do next?</h2>
            <div class="container" style="display: flex;">
               <div class="left-side">
                  <p style="font-family: Arial, sans-serif, 'Open Sans' ;color: #4f5a68;">
                     Choose from some of the best Lunch & Dinner Meal Kits from our platform at a fixed price of $70.
                     These
                     are 4 serving
                     Meal Kits of Lunch & Dinner which will be shipped to your registered address.</p>
               </div>
               <div class="right-side" style="transform: translate(0px, -30px);">
                  <img src="cid:Group" alt="laptop image">
               </div>
            </div>
            <p style="font-family: Arial, sans-serif, 'Open Sans'; color: #4f5a68;">Want to get more out of
               restaurantmealkits.com?</p>
            <a href="www.restaurantmealkits.com" style="color: #ffffff;text-decoration: none;cursor: pointer;">
               <button class="btn" type="button"
                  style="margin-left: auto;background-color: #D8355C;color: white;padding: 14px 25px;text-align: center;text-decoration: none;display: inline-block;border: 0px;cursor: pointer;">
                  VISIT WEBSITE
               </button>
            </a>
         </div>

      </div>
      <footer class="footer" style="width: auto;padding: 60px;color: #ececec;background-color: #10192f;">

         <p class="footer-para"
            style="font-family: Arial, sans-serif, 'Open Sans';font-size: 16px;text-align: justify;line-height: 1.5;color: #ffffff;">
            Rishi Singhal (CEO)
         </p>
         <a href="www.restaurantmealkits.com" style="color:#ffffff;">Restaurantmealkits.com</a>
      </footer>
   </div>
</body>

</html>